.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.ml-auto {
    margin-left: auto;
}

.ml-1 {
    margin-left: 0.5em;
}

.mr-1 {
    margin-right: 0.5em;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}