@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

:root {
  --font-family: "Work Sans", sans-serif;
  --font-size: 16px;
}

html,
body {
  font-size: var(--font-size) !important;
  font-family: var(--font-family) !important;
}

main {
  background: #fff;
}

.main-content {
  transition: padding-left 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.side-logo {
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  padding-bottom: 32px;
  padding-top: 32px;
}

.ant-layout-sider-trigger {
  background: white !important;
  color: black !important;
}

.login-panel {
  z-index: 999;
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-wrapper-background {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.login-panel-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.login-panel-logo {
  z-index: 999;
  margin-bottom: 6rem;
}

.ticket-empty-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ant-typography-copy {
  position: absolute;
  right: 0;
  top: 0;
}

.ant-typography-edit {
  position: absolute;
  top: 0;
  right: 2em;
}

.ant-comment-content-author-name,
.ant-comment-content-author-time {
  color: black !important;
  font-weight: 700;
  font-size: 14px !important;
}

.ant-comment-content-detail {
  font-size: var(--font-size);
}

.ant-comment:not(:last-child) {
  border-left: none;
  border-right: none;
  border-top: none;
}

.ant-comment {
  padding: 1rem;
  margin-bottom: 1rem;
}