main {
  background: #fff;
}

.main-content {
  transition: padding-left 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.side-logo {
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  padding-bottom: 32px;
  padding-top: 32px;
}

.ant-layout-sider-trigger {
  background: white !important;
  color: black !important;
}
