main {
  background: #fff;
}

.main-content {
  transition: padding-left 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.side-logo {
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  padding-bottom: 32px;
  padding-top: 32px;
}

.ant-layout-sider-trigger {
  background: white !important;
  color: black !important;
}

.login-panel {
  z-index: 999;
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-wrapper-background {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.login-panel-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.login-panel-logo {
  z-index: 999;
  margin-bottom: 6rem;
}